# OOP Data Analyst
- build class data analyst and add 3 people
- with 5 attributes
- def 5 functions

In [1]:
# build class DA
class DA:
    def __init__(self, name, age, skill, salary):
        self.name = name
        self.age = age
        self.skill = skill
        self.salary = salary

    # def 5 functions
    def show_attributes(self):
        return(f"Great to See Everyone!\nMy Name is {self.name}!, I'm {self.age} years old\nSkill: {self.skill} \nSalary: {self.salary}")

    def learning(self, name):
        print(f"My Name is {name}, I'm learning bootcamp for upskill data science.")

    def new_jobs(self, position):
        print(f"I'm looking for a new jobs as {position}.")

    def plus_salary(self, growth):
        self.salary = self.salary + growth
        print(f"I would like to growth more {growth} salary.")

    def update_salary(self):
        print(f"Now, I got a new jobs with new salary is {self.salary}.")

# add 3 people
DA01 = DA("John", 35, "R", 40000)
DA02 = DA("Anna", 30, "Python", 42000)
DA03 = DA("Jake", 28, "SQL", 35000)

In [2]:
# test call DA03 show all attributes
print(DA03.show_attributes())

Great to See Everyone!
My Name is Jake!, I'm 28 years old
Skill: SQL
Salary: 35000

In [3]:
# test learning function by DA01
DA01.learning(DA01.name)

My Name is John, I'm learning bootcamp for upskill data science.

In [4]:
# test new_jobs function by DA02
DA02.new_jobs("Data Engineer")

I'm looking for a new jobs as Data Engineer.

In [5]:
# test plus_salary function by DA02
DA02.plus_salary(5000)

I would like to growth more 5000 salary.

In [6]:
## test update_salary function by DA02
DA02.update_salary()

Now, I got a new jobs with new salary is 47000.